*{
    font-family: poppins;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#header{
    background-color:  #C9ECB5;
}
nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
   
 }
 nav > ul{
    text-align: center;
    display: inline-flex;
    padding-right: 70px;
}
nav ul li{
padding: 18px;
margin-right: 0;
text-transform: none;
text-decoration: none;
display: block;
color: black;
}
a{
    text-decoration: none;
color: black;}