*{
    font-family: poppins;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#header{
    background-color: #C9ECB5;
}
nav {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
   
 }
 nav > ul{
    text-align: center;
    display: inline-flex;
    padding-right: 70px;
}
nav ul li{
padding: 18px;
margin-right: 25px;
text-transform: none;
text-decoration: none;
display: block;

}
a{
text-decoration: none;
color: black;
}
nav h1{
    font-weight: 900;
    color: black;
    font-size: xx-large;
    position: relative;
    top: -70px;
}
nav h1::first-letter{
    font-size: 200%;
}
#home h1 span:first-child{
    color: #6CB840;
}
#home h1 span:last-child{
    color:#EAAB1B;
}
#submit{
    background-color:  #6CB840;
    color: white;
    border-radius: 15px;
    border-style: none;
    width: auto;
    height: auto;
}
#home{
    margin-left: 50px;
    padding-bottom: 100px;
}
#about h1{
    color: #EAAB1B;
}
#about img{
   float: left;
   align:left;
   width: 500px;
 
}
#about{
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
#about p, #about h1{
    text-align: center;
}
#ourmenu{
    background-color: #C9ECB5;
}
#ourmenu h1{
    text-align: center;
    padding-top: 30px;
}
#ourmenu h1 span:first-child{
    color: black;
}
#ourmenu h1 span:last-child{
    color: #6CB840;
}
#column {
    float: left;
    width: 31%;
    padding: 10px;
  }
  #row::after {
    content: "";
    clear: both;
    display: table;
  }
  #row{
      padding-left: 50px;
  }