*{
    font-family: poppins;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#header{
    background-color: #C9ECB5;
}
nav {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
   
 }
 nav > ul{
    text-align: center;
    display: inline-flex;
    padding-right: 70px;
}
nav ul li{
padding: 18px;
margin-right: 25px;
text-transform: none;
text-decoration: none;
display: block;

}
a{
text-decoration: none;
color: black;
}
nav h1{
    font-weight: 900;
    color: black;
    font-size: xx-large;
    position: relative;
    top: -70px;
}
nav h1::first-letter{
    font-size: 200%;
}
#home h1 span:first-child{
    color: #6CB840;
}
#home h1 span:last-child{
    color:#EAAB1B;
}
#submit{
    background-color:  #6CB840;
    color: white;
    border-radius: 15px;
    border-style: none;
    width: auto;
    height: auto;
}
#home{
    margin-left: 50px;
    padding-bottom: 100px;
}
#about h1{
    color: #EAAB1B;
}
#about img{
   float: left;
   align:left;
   width: 500px;
 
}
#about{
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
#about p, #about h1{
    text-align: center;
}
#ourmenu{
    background-color: #C9ECB5;
}
#ourmenu h1{
    text-align: center;
    padding-top: 30px;
}
#ourmenu h1 span:first-child{
    color: black;
}
#ourmenu h1 span:last-child{
    color: #6CB840;
}
#column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  #row::after {
    content: "";
    clear: both;
    display: table;
  }
  #row{
    padding-left:0px;
    position:relative;
    padding-bottom: 30px;
  }
  #column {
    background: white;
    border-radius: 0px 0px 50px 0px;
    margin: 10px;
   display: inline-flex;
  }
   #column img{
       margin-top: 70px; 
   }
   #column strong{
       font-weight: bolder;
       color:black;
       font-size: 1.3em;
   }
   #column p{
       float: right;
   }
   #ourmenu{
       margin: 0 0 -30px 0;
   }
 #happyhour{
       background-color:  #C9ECB5;
   }
#happyhour h1:first-child{
    text-align: center;
}
#happyhour h1 span:first-child{
    color: black;
}
#happyhour h1 span:last-child{
    color: #6CB840;
}
#happyhour h2{
    color:#6CB840;
}
#happyhour #content{
    display: flex;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    padding: 10px;
}
#happyhour #images{
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    right: 200px;
}

#images #one{
    grid-column: 4/ -1;
    grid-row: 1;
}
#images #two{
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 40%;
    padding-left: 40%;
    z-index: 1;
}
#happyhour #tets p{
    text-align: center;
}
 #contact{
     background-color: #FFD77C;
     text-align: center;
     padding: 10px;
 }
 #contact #email{
     border-radius: 15px;
 }
 #contact form{
     padding: 20px;
 }
 #contact h1 span:first-child{
     color: black;
 }
 #contact h1 span:last-child{
     color:  #6CB840;
 }