*{
    font-family: poppins;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#header{
    background-color:  #C9ECB5;
}
nav {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
   
 }
 nav > ul{
    text-align: center;
    display: inline-flex;
    padding-right: 70px;
}
nav ul li{
padding: 18px;
margin-right: 25px;
text-transform: none;
text-decoration: none;
display: block;

}
a{
text-decoration: none;
color: black;
}
nav h1{
    font-weight: 900;
    color: black;
    font-size: xx-large;
    position: relative;
    top: -70px;
}
nav h1::first-letter{
    font-size: 200%;
}
#home h1 span:first-child{
    color: #6CB840;
}
#home h1 span:last-child{
    color:#EAAB1B;
}